apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Release.Namespace }}
  labels:
    app: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
    {{- if .Values.datasources.prometheus.enabled }}
      - name: {{ .Values.datasources.prometheus.name }}
        type: {{ .Values.datasources.prometheus.type }}
        access: {{ .Values.datasources.prometheus.access }}
        {{- if .Values.global.applications.kong.enabled }}
        url: {{ .Values.global.applications.kong.externalProxyUrl }}/prometheus
        {{- else }}
        url: {{ .Values.datasources.prometheus.url }}
        {{- end }}
        isDefault: {{ .Values.datasources.prometheus.isDefault }}
        editable: true
    {{- end }}
    {{- if .Values.datasources.loki.enabled }}
      - name: {{ .Values.datasources.loki.name }}
        type: {{ .Values.datasources.loki.type }}
        access: {{ .Values.datasources.loki.access }}
        url: {{ .Values.datasources.loki.url }}
        isDefault: false
        editable: true
        jsonData:
          maxLines: 1000
    {{- end }}
{{- if .Values.dashboards.kong.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: grafana
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'kong-official'
        orgId: 1
        folder: 'Kong'
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-kong-dashboard
  namespace: {{ .Release.Namespace }}
  labels:
    app: grafana
    dashboard: kong
data:
  kong-official-7424.json: |-
{{ .Files.Get "dashboards/kong-official-7424.json" | indent 4 }}
{{- end }}

