{{- if .Values.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-storage
  namespace: {{ .Release.Namespace }}
  labels:
    app: grafana
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.global.storage.storageClass }}
  resources:
    requests:
      storage: {{ .Values.global.storage.sizes.medium }}
{{- end }}


