{{- if .Values.loki.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-storage
  namespace: {{ .Release.Namespace }}
  labels:
    app: loki
spec:
  accessModes:
    - ReadWriteOnce
  {{- if .Values.loki.persistence.storageClass }}
  storageClassName: {{ .Values.loki.persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.loki.persistence.size }}
{{- end }}


