apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-opa
  labels:
    app: opa
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    app: opa
    release: {{ .Release.Name }}
