apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.global.applications.prometheus.scrapeInterval }}
      evaluation_interval: {{ .Values.global.applications.prometheus.evaluationInterval }}
      external_labels:
        cluster: 'minikube'
        environment: 'dev'

    alerting:
      alertmanagers:
      {{- range .Values.alerting.alertmanagers }}
        - static_configs:
          {{- range .static_configs }}
            - targets:
              {{- range .targets }}
                - {{ . }}
              {{- end }}
          {{- end }}
      {{- end }}

    rule_files:
      - /etc/prometheus/rules/*.yml

    scrape_configs:
    {{- range .Values.scrapeConfigs }}
      - job_name: {{ .job_name | quote }}
        {{- if .static_configs }}
        static_configs:
        {{- range .static_configs }}
          - targets:
            {{- range .targets }}
              - {{ . }}
            {{- end }}
        {{- end }}
        {{- end }}
        {{- if .kubernetes_sd_configs }}
        kubernetes_sd_configs:
        {{- range .kubernetes_sd_configs }}
          - role: {{ .role }}
            {{- if .namespaces }}
            namespaces:
              names:
              {{- range .namespaces.names }}
                - {{ . }}
              {{- end }}
            {{- end }}
        {{- end }}
        {{- end }}
        {{- if .scheme }}
        scheme: {{ .scheme }}
        {{- end }}
        {{- if .tls_config }}
        tls_config:
          {{- if .tls_config.ca_file }}
          ca_file: {{ .tls_config.ca_file }}
          {{- end }}
        {{- end }}
        {{- if .bearer_token_file }}
        bearer_token_file: {{ .bearer_token_file }}
        {{- end }}
        {{- if .relabel_configs }}
        relabel_configs:
        {{- range .relabel_configs }}
          - {{- if .source_labels }}
            source_labels:
            {{- range .source_labels }}
              - {{ . }}
            {{- end }}
            {{- end }}
            {{- if .action }}
            action: {{ .action }}
            {{- end }}
            {{- if .regex }}
            regex: {{ .regex }}
            {{- end }}
            {{- if .target_label }}
            target_label: {{ .target_label }}
            {{- end }}
            {{- if .replacement }}
            replacement: {{ .replacement }}
            {{- end }}
        {{- end }}
        {{- end }}
    {{- end }}

  alert.rules.yml: |
    groups:
    {{- range .Values.rules }}
      - name: {{ .name }}
        interval: {{ .interval }}
        rules:
        {{- range .rules }}
          - alert: {{ .alert }}
            expr: {{ .expr }}
            for: {{ .for }}
            labels:
              {{- range $key, $value := .labels }}
              {{ $key }}: {{ $value }}
              {{- end }}
            annotations:
              {{- range $key, $value := .annotations }}
              {{ $key }}: {{ $value | quote }}
              {{- end }}
        {{- end }}
    {{- end }}


