apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: alertmanager
data:
  alertmanager.yml: |
    global:
      resolve_timeout: {{ .Values.config.global.resolve_timeout }}
    
    route:
      group_by: {{ toJson .Values.config.route.group_by }}
      group_wait: {{ .Values.config.route.group_wait }}
      group_interval: {{ .Values.config.route.group_interval }}
      repeat_interval: {{ .Values.config.route.repeat_interval }}
      receiver: '{{ .Values.config.route.receiver }}'
      routes:
      {{- range .Values.config.route.routes }}
        - match:
          {{- range $key, $value := .match }}
            {{ $key }}: {{ $value }}
          {{- end }}
          receiver: '{{ .receiver }}'
          {{- if .continue }}
          continue: {{ .continue }}
          {{- end }}
      {{- end }}
    
    receivers:
    {{- range .Values.config.receivers }}
      - name: '{{ .name }}'
        {{- if .webhook_configs }}
        webhook_configs:
        {{- range .webhook_configs }}
          - url: '{{ .url }}'
            send_resolved: {{ .send_resolved }}
        {{- end }}
        {{- end }}
    {{- end }}
    
    inhibit_rules:
    {{- range .Values.config.inhibit_rules }}
      - source_match:
        {{- range $key, $value := .source_match }}
          {{ $key }}: '{{ $value }}'
        {{- end }}
        target_match:
        {{- range $key, $value := .target_match }}
          {{ $key }}: '{{ $value }}'
        {{- end }}
        equal: {{ toJson .equal }}
    {{- end }}

