{{- if .Values.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alertmanager-storage
  namespace: {{ .Release.Namespace }}
  labels:
    app: alertmanager
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.global.storage.sizes.small }}
  storageClassName: {{ .Values.global.storage.storageClass }}
{{- end }}

