# Grafana Service and Route Configuration
_format_version: "3.0"

services:
  - name: grafana
    url: http://grafana.monitoring.svc.cluster.local:3000
    routes:
      - name: grafana-route
        paths:
          - /grafana
        strip_path: false
        preserve_host: false
    plugins:
      - name: cors
        config:
          origins:
            - "*"
          methods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS
          headers:
            - Accept
            - Accept-Language
            - Content-Type
            - Authorization
            - X-Grafana-Org-Id
            - X-Datasource-Uid
            - X-Panel-Id
            - X-Plugin-Id
          credentials: true
          max_age: 3600
      - name: request-transformer
        config:
          add:
            headers:
              - "Host:$http_host"


