# Kong Manager UI Service Configuration
_format_version: "3.0"

services:
  - name: kong-manager
    url: http://kong-manager.kong.svc.cluster.local:8002
    routes:
      - name: kong-manager-route
        paths:
          - /kongui
        strip_path: false
        preserve_host: false
    plugins:
      - name: cors
        config:
          origins:
            - "*"
          methods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS
            - PATCH
          headers:
            - Accept
            - Content-Type
            - Authorization
            - X-Requested-With
          credentials: true
          max_age: 3600
      - name: request-transformer
        config:
          add:
            headers:
              - "X-Forwarded-Proto:http"
              - "X-Forwarded-Host:localhost:8000"
              - "X-Forwarded-Port:8000"


