apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kong
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: file:///Users/ashutosh/Documents/devsecops
    targetRevision: 0549622b87bbaeb4e451c6618ef4697074168d9c
    path: charts/kong
    helm:
      valueFiles:
        - ../../values-global.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: kong
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

