{{- if .Values.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-home
  namespace: {{ .Release.Namespace }}
  labels:
    app: jenkins
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.global.storage.storageClass }}
  resources:
    requests:
      storage: {{ .Values.global.storage.sizes.large }}
{{- end }}

