apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: {{ .Release.Namespace }}
  labels:
    app: jenkins
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
    - port: {{ .Values.service.agentPort }}
      targetPort: agent
      protocol: TCP
      name: agent
  selector:
    app: jenkins

